
html {
  position: relative;
  min-height: 100%;
}

body {
/* 	padding: 30px 15px 0; */
 	font-family: 'Helvetica Neue','Arial','Liberation Sans','FreeSans', sans-serif;
 	background: #393939 url("../images/IMG_2277.JPG") no-repeat;
 	background-size: 100%;
}

[class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: rgba(0,0,0,.15);
}

div.navbar-inverse.navbar-default.navbar-fixed-top {
	background-color: #393939;
}

div.page-header h1 {
	border-bottom: transparent;
}

div.page-header h1 {
	-webkit-font-smoothing: antialiased;
	border-bottom: 2px solid #393939;
}

div.panel {
	border-color: transparent;
}

div#goals {
/* 	background-color: rgba(110,160,252,0.30); */
/* 	border: 2px solid rgba(110,160,252); */
/* 	padding: 5px; */
	margin-bottom: 20px;
	margin-top: 20px;
	background: transparent;
}

div#footer {
	padding-top: 5px;
	height: 165px;
	background-color: #393939;
	font-size: smaller;
	color: white;
	}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/*********************************************************/
/* A scratch area for styles that I might go back to     */
/*                                                       */
/*	sky blue : background-color: rgba(110,160,252,0.60); */
/* 	font-family: 'GillSans-Light', 'Gill Sans', 'Trebuchet MS', sans-serif; */
/* 	font: 13px Helvetica, arial, freesans, clean, sans-serif; */
/*
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.4;
*/
/*  	font-family: 'Helvetica Neue','Arial','Liberation Sans','FreeSans',sans-serif; */
