body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #393939;
	line-height: 1.4;
/* 	background-image: url("../images/IMG_2277.JPG"); */
}

div.navbar-inverse.navbar-default.navbar-fixed-top {
	background-color: #393939;
}

.jumbotron {
	background-image: url("../images/IMG_2277.JPG");
	height:  800px;
}

div.page-header h1 {
	font-size: 65px;
}

div.page-header {
	border-bottom: 1px solid #393939;
}

ul.nav-tabs {
	margin-bottom: 10px;
}

div.panel {
	border-color: transparent;
}

div#goals {
	background-color: rgba(110,160,252,0.30);
	border: 2px solid rgba(110,160,252);
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
}

div#footer {
	padding-top: 5px;
	height: 165px;
	background-color: #393939;
	font-size: smaller;
	color: white;
	}


/*********************************************************/
/* A scratch area for styles that I might go back to     */
/*                                                       */
/*	sky blue : background-color: rgba(110,160,252,0.60); */
/* 	font-family: 'GillSans-Light', 'Gill Sans', 'Trebuchet MS', sans-serif; */
/* 	font: 13px Helvetica, arial, freesans, clean, sans-serif; */
/*
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.4;
*/
/*  	font-family: 'Helvetica Neue','Arial','Liberation Sans','FreeSans',sans-serif; */
