body {
	font-family: 'GillSans-Light', 'Gill Sans', 'Trebuchet MS', sans-serif;
	background-image: url("../images/IMG_2277.JPG");
}

p.lead {
}

div.page-header h1 {
	font-size: 45px;
	margin-top: 200px;
}

div.page-header {
	border-bottom: 1px solid black;
}

}

div#footer {
}